<a href="https://colab.research.google.com/github/AndikaXploit/AndikaXploit/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
B = {1, 2, 3, "a", "b", "c"}
print (B)
print(type(B))

C = [1, 2, 3, "a", "b", "c"]
print(C)
print(type(C))

{1, 2, 3, 'b', 'a', 'c'}
<class 'set'>
[1, 2, 3, 'a', 'b', 'c']
<class 'list'>

In [4]:
angka1 = 10
angka2 = 3
hasil = angka1 + angka2
print(hasil)

13

In [5]:
angka1 = 10
angka2 = 3
hasil = angka1 == angka2
print(hasil)

False

OPERATOR PENUGASAN

In [7]:
bilangan1 = 5
bilangan2 = bilangan1
print(bilangan2)

bilangan1 += 2 #bilangan1 = bilangan1+2
print(bilangan1)

5
7

OPERASI LOGIKA

In [9]:
A = True
B = False
hasil = A or B
print(hasil)

True

CONTROL FLOW

In [11]:
angka = 5
if angka > 0:
  print("bilangan positif")
else : 
    print("bilangan negatif")

bilangan positif

In [12]:
for i  in range(0,10) :
  print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
i = 0
while i<10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(0,10):
  print (i)
  if i == 5:
    continue
  print (i)

0
0
1
1
2
2
3
3
4
4
5
6
6
7
7
8
8
9
9

In [17]:
import numpy as np
# list python
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
hasil = a + b
print(hasil)

# array numpy
anp = np.array([1, 2, 3, 4, 5])
bnp = np.array([6, 7, 8, 9, 10])
hasil2 = anp + bnp
print(hasil2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[ 7  9 11 13 15]

In [18]:
import numpy as np

a = np.arange(10) + 5
print(a)
print(a[2])
print(a[2])
print(a[5:8]) #mengambil array index ke 5-7

[ 5  6  7  8  9 10 11 12 13 14]
7
7
[10 11 12]

In [20]:
a = np.array(([1, 2],
              [3, 4]))
b = np.ones([2, 1])#matriks 1, 2 baris 1 kolom

print("Matriks a :")
print(a)
print("Matriks b :")
print(b)

Matriks a :
[[1 2]
 [3 4]]
Matriks b :
[[1.]
 [1.]]

In [21]:
# perkalian matriks
c = np.dot(a, b)
c2 = a.dot(b)
print("matriks c : ")
print(c)
print(c2)

matriks c :
[[3.]
 [7.]]
[[3.]
 [7.]]

In [26]:
import pandas as pd

In [27]:
data = pd.read_csv("/kapal_titanic.csv")

In [31]:
data.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [ ]:
data.shape

In [32]:
data.isnull().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
deck        688
dtype: int64

In [33]:
data.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200